.Game {
    color: #000;
    text-align: center;
    padding: 20px;
}

.Game .Button {
    text-align: center;
    height: 90%;
    width: 100%;
    padding: 7%;
    margin: 4px;

}


.img {
    height: 160px;
    width: 160px;

}

#geral {
    background-color: lightgray;
    border: thin solid #012a35;
    border-radius: 6px;
}

.qNumber {
    border-radius: 12px;
}