

body {
    background: #003846;
    color: #ffffff;
    font-family: arial;
    letter-spacing: 0.1em;
    font-weight: 400

} 

body a{
    color: #ffffff;
    text-decoration: none;
}
body a:hover{
    color: #08809e;    
    text-decoration: none;
}

.endgame {
    color: #000000;
}

.genericModal{
    min-height: 300px;
    color: #000000;
}
.table-responsive{
    height: 35em;
}

.AllPowers {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    -webkit-animation: rainbow 9s ease infinite;
    -z-animation: rainbow 9s ease infinite;
    -o-animation: rainbow 9s ease infinite;
    animation: rainbow 9s ease infinite;
    background-size: 1800% 1800%;
    border-radius: 8px;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}