

body {
    background: #003846;
    color: #ffffff;
    font-family: arial;
    letter-spacing: 0.1em;
    font-weight: 400

} 

body a{
    color: #ffffff;
    text-decoration: none;
}
body a:hover{
    color: #08809e;    
    text-decoration: none;
}

.endgame {
    color: #000000;
}

.genericModal{
    color: #000000;
}
.table-responsive{
    height: 35em;
}